body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  background: black;
  color: white;
}

.removeBtn {
  background-color: rgba(255, 0, 0, 0.4);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.removeBtn:hover {
  background-color: rgba(255, 0, 0, 0.8);
}
/* .canHoverGameList {
  transition: all 0.5s ease-in-out;
}
.canHoverGameList:hover {
  border: 1px solid greenyellow;
} */
